@import "../../../material/project";

footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #EF704D;
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
  padding: 0 20px;
}